/* --- DOPLNĚNÍ STYLŮ PRO ZÁPIS ZAKÁZEK --- */
.highlight-panel {
    border: 1px solid #ff2222 !important;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.btn-success-style {
    background: #a60000 !important;
    border: 1px solid #ff3333 !important;
    margin-top: 10px !important;
    font-size: 0.9rem !important;
    padding: 12px !important;
}

.btn-success-style:hover {
    background: #d60000 !important;
    box-shadow: 0 0 10px #ff0000;
}